* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* MOBILE */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

/* TABLET */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

/* TABLET LAND */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* DESKTOP */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

/* HEADER */
header {
  display: flex;

  height: 100vh;
  width: 100vw;
}

nav {
  background: #222422;
  color: #e8dada;
  font-size: 3.5rem;
  text-align: center;

  width: 20%;
  height: 100%;
}

nav .icon {
  height: 20%;
}

.slideshow {
  background-image: url("https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
  height: 100%;
  width: 80%;
}

/* SECTION 1 */
.section1 {
  height: fit-content;
  width: 100%;
}

.divider {
  background-color: #e8dada;
  border: 1px solid #222422;
  height: 10rem;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 1.5rem;
}

.info-pet {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.img-container {
  border-bottom: 1px solid #222422;
  background-image: url("https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW5pbWFsc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  position: relative;

  height: 40rem;
  width: 20%;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 30%;
  background-color: rgba(255, 255, 255, 0.7);
}

.dark {
  background-color: rgba(0, 0, 0, 0.7);
}

/* SECTION 2 */

.information {
  display: flex;

  height: 50rem;
  width: 100%;
}

.img {
  width: 50%;
  background-image: url("https://i.cbc.ca/1.5077459.1553886010!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_940/pets.jpg");
  background-size: cover;
  background-position: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  font-size: 2rem;
  padding: 5rem;
  width: 50%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #000;
  background-color: transparent;
  text-decoration: none;
  height: 5rem;
  width: 10rem;
}

/* SECTION 3 */

/* SECTION 4 */

/* FOOTER */

footer {
  height: 30rem;
  width: 100%;
}
